// Here you can add other styles
.v-select {
  width: 100%;
  .dropdown-toggle {
    padding: 0 !important;
    .clear {
      line-height: 31px !important;
      font-size: 21px !important;
    }
    .open-indicator:before {
      width: 8px !important;
      height: 8px !important;
      position: relative !important;
      top: -1px !important;
      border-width: 2px 2px 0 0 !important;
    }
    &::after {
      display: none;
    }
    .selected-tag {
      margin: 0;
      line-height: 0;
    }
  }
}

.vs__selected-options {
  width: 100%;
  padding: 0;
}

.newButton {
  margin: 2px;
}

.activeStatus {
  color: #2ecc71;
}

.inactiveStatus {
  color: #e74c3c;
}
.fill_title {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 2560px),
  (max-width: 1440px),
  (max-width: 1024px) {
  .dispatch-table {
    display: block;
  }
  .dispatch-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .dispatch-table {
    display: none;
  }
  .dispatch-list {
    display: block;
  }
  .border-none {
    border: none;
  }

  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .wizard-tab-content {
    min-height: 100px;
    padding: 0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 425px) {
  .dispatch-table {
    display: none;
  }
  .dispatch-list {
    display: block;
  }
  .border-none {
    border: none;
  }

  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .wizard-tab-content {
    min-height: 100px;
    padding: 0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 375px) {
  .dispatch-table {
    display: none;
  }
  .dispatch-list {
    display: block;
  }
  .border-none {
    border: none;
  }

  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }
  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .wizard-tab-content {
    min-height: 100px;
    padding: 0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}
@media screen and (max-width: 320px) {
  .dispatch-table {
    display: none;
  }
  .dispatch-list {
    display: block;
  }
  .border-none {
    border: none;
  }

  #logo {
    width: 260px;
    height: 120px;
    position: relative;
    bottom: -20px;
  }

  .main .container-fluid {
    padding: 3px;
  }
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .btnsm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .wizard-tab-content {
    min-height: 100px;
    padding: 0;
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 1px;
    margin-bottom: -1px;
  }
}

div.m-action-button {
  float: left;
  position: relative;
  margin: 2px;
  width: 100%;
}
div.list-field {
  position: relative;
  margin: 2px;
}
.dis {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 550;
  line-height: 32px;
  margin: 0 0 24px;
}
.btn-remove {
  background: #ff6a6a;
  text-align: center;
}

.iscardshow {
  visibility: visible;
}
.iscardhide {
  display: none;
}
.subtitle-row {
  transition: left 0.25s, right 0.25s, width 0.25s;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  list-style: none;
  background-color: #fff;
  position: relative;
  border-radius: 0;
  border-bottom: 1px solid #c8ced3;
}
.subtitle-text {
  width: 100%;
  z-index: 10px;
}
.shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin: 5px;
}

/*image gallery*/
.delete {
  cursor: pointer !important;
  font-size: 20px;
  position: absolute;
  color: white;
  border: none;
  background: none;
  right: 5px;
  top: 2px;
  line-height: 1;
  z-index: 99;
  padding: 0;
}
.delete span {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  display: block;
}
.mobile-thumnail {
  width: calc((100% - 30px) * 0.333);
  margin: 5px;
  width: 150px;
  height: 150px;
  float: left;
  box-sizing: border-box;
  position: relative;
}
.box {
  width: calc((100% - 30px) * 0.333);
  margin: 5px 5px 30px 0;
  width: 78px;
  height: 80px;
  float: left;
  box-sizing: border-box;
  position: relative;
}

.box:hover,
.mobile-thumnail:hover {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
}
.mobile-thumnail {
  width: 130px;
  height: 130px;
}
.mobile-thum-size {
  width: 130px;
  height: 130px;
}
.mobile-thumnail {
  margin-top: 15px;
  margin-bottom: 15px;
}
.box .image .mobile-thumnail {
  width: 75px;
  height: 80px;
  position: relative;
  overflow: hidden;
}

.box .image img .mobile-thumnail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.ellipsis {
  position: relative;
}
.ellipsis:before {
  content: "&nbsp;";
  visibility: hidden;
}
.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 375px) {
  .wizard-footer-left {
    margin-bottom: 10px;
    width: 100%;
  }
  .wizard-footer-right {
    width: 100%;
  }
  .wizard-btn {
    width: 100%;
  }
}
@media print {
  .action-button,
  .breadview,
  .subtitle-row {
    display: none;
  }
}
